* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/** Go top **/
.go-top {
  position: fixed;
  bottom: 0px;
  right: -100%;
  width: 50px;
  height: 50px;

  background: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}
.go-top:hover {
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgb(71, 71, 71);
}
.go-top:hover span {
  color: #fff;
}
.go-top > span {
  font-size: 25px;
  color: #000;
}
main{
  width: 100%;
  height: 700px;
  background: url("./indoor/img-indoor/imagenes-indoor/IMG-20210325-WA0038.jpg");
background-position: center;
background-size: cover;
 
}

/** Diseño del Welcome**/

.welcome {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome__title {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

.welcome hr {
  width: 250px;
  margin: auto;
  height: 3px;
  background: #fff;
}
.welcome__sub-title {
  font-size: 24px;
  margin: 10px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;

  text-align: center;
}

/** Fin del style**/

/********* Seccion sobre nosotros ****/
.sobre-nosotros{
  width: 100%;
  height: 400px;
}
.container-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding:10px;
  background-color: #dcdcdc;
}
.title-somos-nosotros {
  
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #000;
}

.title-parrafo {
 width: 70%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
  line-height: 24px;
  color: #151515;
}
.enlaces {
  margin-top: 50px;
}
.btn-enlaces {
  width: 100%;
  padding: 20px;
  margin:20px;
  text-decoration: none;
  border: 1px dashed #000;
  transition: all 0.5s;
  cursor: pointer;
  color: #212121;
  background: #999999;
}
.btn-enlaces:hover {
  background: #212121;
  color: #fff;
}


/*****Diseño del slider****/

.flexslider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  
}
.slider {
  display: flex;
  width: 300%;
  height: 300px;
  margin-left: -100%;
  position: relative;
}


.slider-section {
  position: relative;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider-img {
  position: absolute;
  top: 0;
  width: 300px;
  height: 400px;
  object-fit: cover;
 
}



/** Seccion tips informaticos **/

.container-tips {
  height: 500px;
  padding: 30px;
  text-align: center;
  background-color: #dcdcdc;
}
.tip-title {
  font-size: 16px;
  font-weight: 300;
}

.tip i {
  font-size: 24px;
  padding: 20px 0;
}
.parrafo-tips {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin-top: 8px;
}

/** Estilo responsive para tablet **/

@media screen and (min-width: 768px) {

  .slider-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
   
  }
  .container-tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .tip-icon {
    font-size: 29px;
  }
  .tip-title {
    font-size: 24px;
    font-weight: 700;
  }
  .parrafo-tips {
    font-size: 18px;
  }
  .title-somos-nosotros{
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  /**header **/
  .header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .header-img .welcome h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;

    margin-bottom: 35px;
  }
  .header-img .welcome .linea-title {
    width: 400px;
    height: 5px;
    background: #fff;
    border: none;
    margin-top: -15px;
    text-align: center;
  }
  .header-img .welcome p {
    width: 500px;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    border: 3px solid #fff;
    padding: 10px;
    margin-top: 30px;
  }

  /** Fin del header **/
 

  /**** Seccion slider ****/
 
  .slider-img {
    width: 600px;
    height: 400px;
  
   
  }

 
  
  /***** Seccion Tips **/
  .container-tips {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .tip-title {
    padding-right: 26px;
    font-weight: 400;
  }
  .tip {
    padding: auto;
    margin: 15px auto;
  }
  .tip i {
    font-size: 29px;
    text-align: center;
    padding: 10px 10px;
  }
  .parrafo-tips {
    font-size: 18px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 1280px) {
  .main-header {
    position: relative;
    width: 100%;
  }
  .main-header .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999999999;
  }
  .container {
    width: 1000px;
    margin: auto;
  }
  .main-header__container:nth-child(3) {
    padding-left: 50px;
  }


  .slider-img {
    width: 700px;
    height: 400px;
    
  }
}
@media screen and (min-width: 1600px) {
  .main-header {
    position: relative;
    width: 100%;
  }
  .main-header .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }
  .container {
    width: 1400px;
    margin: auto;
  }
  .main-header__container:nth-child(3) {
    padding-left: 100px;
  }
}
