* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


/** Go top **/
.go-top {
  position: fixed;
  bottom: 0px;
  right: -100%;
  width: 50px;
  height: 50px;
  background: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}
.go-top:hover {
  /*border: 2px solid #fff;*/
  border-radius: 50%;
  background: rgb(71, 71, 71);
}
.go-top:hover span {
  color: #fff;
}
.go-top > span {
  font-size: 25px;
  color: #000;
}



/*---Seccion Productos ---*/
.main {
  padding: 25px 15px;
  background: rgb(255, 255, 255);
}
.product {
  border: 1px solid #154f66;
  border-top-right-radius: 5px;
  border-top-left-radius:5px ;
}
.title-product {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
}
.container-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 10px;
}
.product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.product-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  overflow: hidden;
}
.product__title{
 
 white-space: nowrap;
 overflow: hidden;
}
/** Seccion tips informaticos **/

.container-tips {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.tip{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.tip-title {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.tip i {
  text-align: center;
  font-size: 24px;
  margin: auto;
}
.parrafo-tips {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin-top: 8px;
}

/** Estilo responsive para tablet **/

@media screen and (min-width: 665px) {
 
  .container-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 10px;
  }
  .title-product {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    padding: 15px;
  }
  .product-img {
    padding: 2px;
    width: 100%;
 
    object-fit: cover;
  
  }
  .container-tips {
   
    flex-direction: row;

  }

  .tip {
    margin: auto;
  }
  .tip i {
    font-size: 29px;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .tip-title {
    font-size: 19px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  
  .container-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .product {
    display: block;
  }
  .product-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .product-description {
    text-align: center;
    font-size: 18px;
  }
  .product-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  /** Fin del header **/

  /*** Cuerpo de pa pagina****/

  /***** Sobre nosotros ****/

  /***** Seccion Tips ****/
  

  .tip-title {
    padding-right: 26px;
    font-weight: 400;
  }
  .tip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
  }
  .tip i {
    font-size: 29px;
    text-align: center;
    padding: 10px 10px;
  }
  .parrafo-tips {
    font-size: 18px;
  }

 
}
@media screen and (min-width: 1280px) {
  
  
  .product-img {
    width: 300px;
    height: 300px;
  }
}

